*{
 margin: 0;
 padding: 0;
}

body{
 background-color: #313142;
}

h1, h2, h3, h4, h5, h6{
 margin: 0;
 padding: 0;
}

//Размеры текста

$fonts-size__md: 16px;

//Повсеместный цвет элементов
$base_color: #313142;

$base_color_white: #e1e1e1;

$base_color_buttons: #ff0000;

$base_color_buttons_deep_blue: #55a3ec;

//Стиль активного состояния FilterOrder правых кнопок

$bg_color__active_state: rgb(103, 85, 243);
$border_ui__active_state: '1px solid #5e589c';

$before_element_color__active_state: #545497;
$before_element_border__active_state: 2px solid #545497;
$before_element_background-color__active_state: #000000FF;





