@import "../../mixin/media_query_mixin/mixin";

@include desktop{
  .page {
    .header__menu {
       .menu-ui {

         &__mobile {
           display: none;
         }
       }
    }

    section {
      .container {
        .filter-container {
          .filter-item {
            margin: 12px 0 0 0;
          }
        }

        .container-order-unit {
          margin: 0;
        }
      }
    }
  }
    .title_h2{
      font-size:calc(24px + 8 * (100vw - 320px) / 880);
   }
}